<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
</head>
<body>
</head>
<body>
    <%- include('../partials/header.ejs') %>
 <div class="container-fluid">
    <div class="row">
    <%- include('../partials/sidebar.ejs') %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <%- body %>
    </main>
   
    </div>
</div>
<script src="/js/popper.min.js" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>